{{> header}}

<h2 class="f2 text-center text-normal">Create an invite link</h2>

{{#if installations}}
  <p class="text-gray text-center mb-4">Which organization do you want to creat an invite for?</p>

  <div class="Box box-shadow">
    {{#each installations}}
      <a href="{{ account.login }}" class="Box-row Box-row--hover-gray muted-link d-block clearfix">
        <img class="avatar float-left mr-2" src="{{ account.avatar_url }}" alt="" height="20" width="20">
        <span class="text-bold text-gray-dark">{{ account.login }}</span>
      </a>
    {{/each}}
  </div>

  <p class="text-gray text-center my-4">
    Don't see your organization?
    <a href="{{ info.html_url }}/installations/new">Install {{ info.name }}</a>.
  </p>
{{else}}
  <p class="text-gray text-center my-4">
    You must have <strong>admin</strong> priviledges on an <strong>organization</strong> with the <a href="{{ info.html_url }}">{{ info.name }}</a> app installed to generate invite links.
  </p>

  <p class="text-gray text-center my-4">
    <a class="btn btn-primary" href="{{ info.html_url }}/installations/new">Install {{ info.name }}</a>
  </p>

{{/if}}

{{> footer}}
